BasedOnStyle: GNU
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Right
